<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kayantabe"
        tools:targetApi="31">
        <activity
            android:name=".CustDialogServiceDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerDashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_customer_dashboard"
            android:theme="@style/Theme.Kayantabe.NoActionBar" />
        <activity
            android:name=".CustomerDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationOptionsActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceProviderDashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_service_provider_dashboard"
            android:theme="@style/Theme.Kayantabe.NoActionBar" />
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_admin_dashboard"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BusinessDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".EmailVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>